<div class="container">
  <h1>Configuring the Laboratory</h1>

  <%= render 'form' %>

  <hr>
  <%= link_to 'Show', @laboratory, class: 'btn btn-default' %>
  <%= link_to 'Back', laboratories_path, class: 'btn btn-default' %>
</div>
