<div class="container">
  <h1>Register New Laboratory</h1>
  <p>Please enter your laboratory details and select the Things to add to your laboratory from the list below:</p>
	<small> TO DO: complete the form with Laboratory details and suitable layout </small>
  
  <%= render 'form' %>
  
</div>
	
	

