<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% content_for :title do %>About<% end %>
      <h3>About the Website</h3>
      <p>
        Cold-pressed fanny pack sriracha gluten-free trust fund. Cardigan Cosby sweater iPhone fanny pack. Dreamcatcher viral four dollar toast pour-over, leggings Tumblr sustainable. 90's sartorial next level, kitsch messenger bag Williamsburg leggings McSweeney's four loko skateboard bespoke put a bird on it taxidermy bicycle rights. XOXO High Life master cleanse pork belly. Vice lumbersexual cornhole vinyl occupy. Kale chips photo booth ugh bespoke craft beer, Carles blog.
      </p>
    </div>
  </div>
</div>