<div class="container">
  <h1>Configuring Rig Controller</h1>

  <%= render 'form' %>

  <hr>
  <%= link_to 'Show', @rig, class: 'btn btn-default' %>
  <%= link_to 'Back', rigs_path, class: 'btn btn-default' %>
</div>
