<%= javascript_tag do %>
	window.definedWidgets = JSON.parse('<%= raw @defined_widgets.to_json %>');
  window.uiJSON = JSON.parse('<%= raw @rig.ui_json %>');
<% end %>


<!-- render the ui_json and bind the elements to the hardware modules -->


<div class="col-md-10 col-md-offset-1">
  <div class="gridster thumbnail" id="canvas">
    <!-- widgets goes inside the ul -->
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
    </ul>

  </div>
</div>



<script>

</script>
